<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Announcements</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
    <div class="fire-dept-container">
        <h1>Manage Announcements</h1>
		<nav class="primary-navigation fire-dept-nav">
		    <ul class="fire-dept-nav-links">
		        <li><a href="/admin">Return to Admin Dashboard</a></li>
		        <li><a href="/admin/user_list/new">Create New User</a></li>
		    </ul>
		</nav>
		
		<div class="fire-dept-user-list">
        <table class="fire-dept-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="announcement : ${announcements}">
                    <td th:text="${announcement.id}"></td>
                    <td th:text="${announcement.title}"></td>
                    <td>
                        <a th:href="@{/admin/av-announcements/edit/{id}(id=${announcement.id})}">Edit</a>
                        <a th:href="@{/admin/av-announcements/delete/{id}(id=${announcement.id})}" onclick="return confirm('Are you sure?')">Delete</a>
                    </td>
                </tr>
                <tr th:if="${#lists.isEmpty(announcements)}">
                    <td colspan="3">No announcements available.</td>
                </tr>
            </tbody>
        </table>
	  </div>
    </div>
</body>
</html>
