<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Newsletters</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
    <div class="fire-dept-container">
        <h1>Manage Newsletters</h1>
        <nav class="primary-navigation fire-dept-nav">
            <ul class="fire-dept-nav-links">
                <li><a href="/admin">Return to Admin Dashboard</a></li>
                <li><a href="/admin/av-send_test_email">Create New Newsletter</a></li>
            </ul>
        </nav>

        <div class="fire-dept-user-list">
            <table class="fire-dept-table">
                <thead>
                    <tr>
						<th>ID</th>
						<th>Subject</th>
						<th>Send Date</th>
						<th>Status</th>
						<th>Actions</th>
                    </tr>
                </thead>
                <tbody>
					<tr th:each="newsletter : ${newsletters}">
					   	<td th:text="${newsletter.id}"></td>
					   	<td th:text="${newsletter.subject}"></td>
					   	<td th:text="${#temporals.format(newsletter.sendDateTime, 'yyyy-MM-dd HH:mm')}"></td>
					   	<td th:text="${newsletter.sent ? 'sent' : 'unsent'}"></td>
					   	<td>
					       	<a th:if="${!newsletter.sent}" th:href="@{/admin/av-newsletters/edit/{id}(id=${newsletter.id})}">Edit</a>
					       	<a th:href="@{/admin/av-newsletters/delete/{id}(id=${newsletter.id})}" onclick="return confirm('Are you sure?')">Delete</a>
					   	</td>
					</tr>
					<tr th:if="${#lists.isEmpty(newsletters)}">
					   	<td colspan="5">No newsletters available.</td>
					</tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
