<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create User</title>
</head>
<body>
    <div class="container">
        <h1>Create User</h1>
        <form th:action="@{/admin/user_list}" th:object="${user}" method="post">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" th:field="*{username}" />
            </div>
			<div>
			    <label for="firstName">First Name:</label>
			    <input type="text" id="firstName" th:field="*{firstName}" />
			</div>
			<div>
			    <label for="lastName">Last Name:</label>
			    <input type="text" id="lastName" th:field="*{lastName}" />
			</div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" th:field="*{password}" />
            </div>
            <div>
                <button type="submit">Create</button>
            </div>
        </form>
		<button onclick="history.back()">Go Back</button>
    </div>
</body>
</html>
