<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create User</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container">
        <h1>Create User</h1>
        <form th:action="@{/admin/user_list}" th:object="${user}" method="post" class="form">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" th:field="*{username}" class="input" required/>
            </div>
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" th:field="*{firstName}" class="input" required/>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" th:field="*{lastName}" class="input" required/>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" th:field="*{password}" class="input" required/>
            </div>
            <div class="form-group">
                <label for="roles">Role:</label>
                <select id="roles" th:field="*{roles}" multiple="true" class="input" required>
                    <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.name}">Role</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn">Create</button>
            </div>
        </form>
        <button onclick="history.back()" class="btn btn-secondary">Go Back</button>
    </div>
</body>
</html>
