<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit User</title>
</head>
<body>
    <div class="container">
        <h1>Edit User</h1>
        <form th:action="@{/admin/user_list/update/{id}(id=${user.id})}" th:object="${user}" method="post">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" th:field="*{username}" />
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" th:field="*{password}" />
            </div>
            <div>
                <button type="submit">Update</button>
            </div>
        </form>
    </div>
</body>
</html>
